@import "helpers/variables";

$popover-bg: #d9534f;

@import "bootstrap";
@import "misc/_loader";

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #b8babf;
}

*::-webkit-scrollbar-thumb:hover {
  background: #141a2b;
}

*::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #f5f5f5;
}
