$blue: #0AE;
$wht: #FFF;
$first_sqr_color: #3498DB;
$second_sqr_color: #92d050;
$third_sqr_color: #f0ad4e;
$fourth_sqr_color: #EF4836;
$width: 10px;
$height: 10px;

.group {
  position: relative;
  display: inline-block;
  line-height: 5px;
  text-align: center;
}

.bigSqr {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  transform-origin: bottom left;
  animation: bigSqrShrink 1s linear infinite;
}

.square {
  position: absolute;
  width: $width;
  height: $height;
}

.first {
  left: 0px;
  top: $height;
  background: $first_sqr_color;
}

.second {
  left: $height;
  top: $height;
  animation: drop2 1s linear infinite;
  background: $second_sqr_color;
}

.third {
  left: 0px;
  top: 0px;
  animation: drop3 1s linear infinite;
  background: $third_sqr_color;
}

.fourth {
  left: $height;
  top: 0px;
  animation: drop4 1s linear infinite;
  background: $fourth_sqr_color;
}

.text {
  line-height: 5px;
  font-family: $font-family-sans-serif;
  font-weight: 400;
  color: #000;
  display: block;
  margin: 0px auto;
  padding: 3px;
}

@keyframes bigSqrShrink {
  0% {
    transform: scale(1);
  }

  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}

@keyframes drop2 {
  0% {
    transform: translateY(-50px);
  }

  25% {
    transform: translate(0);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes drop3 {
  0% {
    transform: translateY(-50px);
  }

  50% {
    transform: translate(0);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes drop4 {
  0% {
    transform: translateY(-50px);
  }

  75% {
    transform: translate(0);
  }

  100% {
    transform: translate(0);
  }
}

.loading-animator {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
  border-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.4);
  border-image: none;
  border-radius: 10px 10px 10px 10px;
  border-right: 2px solid rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 2px;
  display: block;
  height: 14px;
  margin-left: 40%;
  width: 14px;
  z-index: 2000;
}
