// Card variants

@mixin card-variant($background, $border) {
  background-color: $background;
  border-color: $border;
}

@mixin card-outline-variant($color) {
  background-color: transparent;
  border-color: $color;
}

//
// Inverse text within a card for use with dark backgrounds
//

@mixin card-inverse {
  .card-header,
  .card-footer {
    border-bottom: $card-border-width solid rgba(255, 255, 255, 0.2);
  }

  .card-header,
  .card-footer,
  .card-title,
  .card-blockquote {
    color: #fff;
  }

  .card-link,
  .card-text,
  .card-blockquote > footer {
    color: rgba(255, 255, 255, 0.65);
  }

  .card-link {
    @include hover-focus {
      color: $card-link-hover-color;
    }
  }
}
