.breadcrumb {
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  margin-bottom: $spacer-y;
  list-style: none;
  background-color: $breadcrumb-bg;

  @include border-radius($border-radius);
  @include clearfix;

  > li {
    float: left;

    + li::before {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      color: $breadcrumb-divider-color;
      content: "#{$breadcrumb-divider}";
    }
  }

  > .active {
    color: $breadcrumb-active-color;
  }
}
