// Inline and block code styles
code,
kbd,
pre,
samp {
  font-family: $font-family-monospace;
}

// Inline code
code {
  padding: 0.2rem 0.4rem;
  font-size: 90%;
  color: $code-color;
  background-color: $code-bg;

  @include border-radius($border-radius);
}

// User input typically entered via keyboard
kbd {
  padding: 0.2rem 0.4rem;
  font-size: 90%;
  color: $kbd-color;
  background-color: $kbd-bg;

  @include border-radius($border-radius-sm);
  @include box-shadow(inset 0 -0.1rem 0 rgba(0, 0, 0, 0.25));

  kbd {
    padding: 0;
    font-size: 100%;
    font-weight: $nested-kbd-font-weight;

    @include box-shadow(none);
  }
}

// Blocks of code
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 90%;
  line-height: $line-height;
  color: $pre-color;

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }
}

// Enable scrollable blocks of code
.pre-scrollable {
  max-height: $pre-scrollable-max-height;
  overflow-y: scroll;
}
