.admin-reviews {
  td {
    vertical-align: middle;
  }
}

.admin-reviews-text {
  background-color: #fff;
  color: $color-gray;
  font-style: italic;
  line-height: 1.7;
  padding: 15px 25px;
}

.admin-reviews-rating {
  color: $color-yellow;
  margin: 5px 0 0 0;
  white-space: nowrap;
}

.admin-reviews-profile {
  white-space: nowrap;

  img {
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(#000, 0.2);
    margin: 0 20px 0 0;
    vertical-align: middle;
    width: 52px;
  }

  span {
    font-weight: 700;
  }
}

.admin-reviews-profile-content {
  display: inline-block;
  vertical-align: middle;
}

.admin-reviews-date {
  color: $color-gray;
  font-size: 13px;
  white-space: nowrap;
}

.admin-reviews-actions {
  white-space: nowrap;
}
