.admin-posts {
  padding: 4px 0 5px 0;
}

.admin-post {
  @extend .clearfix;

  border-bottom: 1px solid rgba(#000, 0.04);
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  position: relative;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.admin-post-image {
  float: left;
  margin: 0 20px 0 0;

  a {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: block;
    height: 54px;
    width: 54px;
  }
}

.admin-post-title {
  h2 {
    font-size: 18px;
    margin: 0;
    padding: 6px 0 0 0;

    a {
      color: $color-black;
    }
  }

  h3 {
    color: $color-gray;
    font-size: 14px;
    font-weight: normal;
    margin: 8px 0 0 0;
  }
}

.admin-post-action {
  position: absolute;
  right: 0;
  top: 18px;

  a {
    color: $color-gray;
    font-size: 13px;
    vertical-align: middle;

    .md-icon {
      color: $color-primary;
      vertical-align: -5px;
    }
  }

  @include media-breakpoint-down(lg) {
    position: relative;
    top: auto;
  }
}
