.admin-box {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(#000, 0.2);
  border-radius: 3px;
  margin: 0 0 30px 0;
  padding: 30px;

  &.no-padding {
    padding: 0;
  }

  &.background-primary {
    background-color: $color-primary;
    border: 0;

    h2 {
      color: #fff;

      strong {
        background-color: rgba(#fff, 0.2);
      }
    }

    p {
      color: rgba(#fff, 0.8);
    }

    .btn {
      background-color: rgba(#fff, 0.2);
      color: #fff;
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 30px 0;

    strong {
      background-color: rgba(#000, 0.08);
      border-radius: 3px;
      font-size: 12px;
      font-weight: 400;
      margin: 0 10px 0 0;
      padding: 4px 10px;
      vertical-align: middle;
    }
  }

  p {
    color: rgba(#000, 0.7);
    margin: 0 0 30px 0;
  }

  table {
    margin: 0;
    padding: 0;

    &.small-header {
      th {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    tr {
      th {
        border-bottom: 0;
        border-top: 0;
        color: $color-black;
        font-size: 16px;
        font-weight: 400;
        padding-left: 20px;
        padding-right: 20px;
        text-transform: inherit;

        &:first-child {
          padding-left: 30px;
        }

        &:last-child {
          padding-right: 30px;
        }
      }

      td {
        padding-left: 20px;
        padding-right: 20px;
        transition: background-color 0.15s linear;
        vertical-align: middle;

        a:not(.btn) {
          color: rgba($color-black, 0.7);

          .md-icon {
            color: $color-primary;
            vertical-align: -5px;
          }
        }

        img {
          height: 24px;
          margin: 0 10px 0 0;
          vertical-align: middle;
        }

        &:first-child {
          padding-left: 30px;
        }

        &:last-child {
          padding-right: 30px;
        }

        &.action {
          white-space: nowrap;
          width: 1px;

          a {
            font-size: 13px;
            font-weight: 400;

            .md-icon {
              color: $color-primary;
              vertical-align: middle;
            }
          }
        }
      }
    }

    tbody {
      tr {
        &:hover {
          td {
            background-color: rgba(#000, 0.02);
          }
        }
      }
    }

    tfoot {
      td {
        padding-bottom: 16px;
        padding-top: 16px;

        a:not(.btn) {
          font-size: 13px;

          .md-icon {
            color: $color-primary;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .btn {
    font-size: 12px;
  }
}
