.btn {
  border: 0;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba($color-black, 0.1), 0 1px 1px rgba($color-black, 0.3);
  font-size: 12px;
  font-weight: 600;
  transition: all 0.15s ease;

  .md-icon {
    font-size: 14px;
    height: auto;
    margin: 0 5px 0 -5px;
    vertical-align: -2px;
    width: auto;
  }

  &:hover {
    box-shadow: 0 2px 3px rgba($color-black, 0.1), 0 4px 7px rgba($color-black, 0.16), 0 8px 19px rgba($color-black, 0.16);
  }
}

.btn-large {
  padding: 12px 24px;
}

.btn-primary {
  background-color: $color-primary;
  color: #fff;

  &:hover, &:active, &:focus, &:active:focus {
    background-color: darken($color-primary, 5%);
    color: #fff;
    outline: 0;
  }
}

.btn-secondary {
  background-color: $color-secondary;
  color: #fff;

  &:hover, &:active, &:focus, &:active:focus {
    background-color: lighten($color-secondary, 3%);
    color: #fff;
    outline: 0;
  }
}

.btn-transparent {
  box-shadow: none;
  color: $color-black;
  line-height: 1;
  padding: 0;

  &:hover {
    box-shadow: none;
    color: $color-black;
  }
}
