.no-margin {
  margin: 0 !important;
}

.aligncenter {
  display: block !important;
  margin: auto;
  margin-bottom: 22px;
  text-align: center;
}

.alignleft {
  float: left;
  margin: 0 30px 22px 0;
}

.alignright {
  float: right;
  margin: 0 0 22px 30px;
}

.box {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(#000, 0.1);
  padding: 25px;
}

.push-bottom {
  margin-bottom: 60px !important;
}

.push-top-bottom {
  padding-bottom: 30px;
  padding-top: 30px;
}

.min-width {
  white-space: nowrap;
  width: 1px;
}

.center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.user-avatar-wrapper {
  cursor: pointer;
  margin: 0 0 0 16px !important;

  .user-avatar-image {
    box-shadow: 0 1px 2px rgba(#000, 0.2);
    margin: 0 22px 0 0 !important;
  }

  &:after {
    @extend .md-icon;

    color: $color-black;
    content: "keyboard_arrow_down";
    font-size: 18px !important;
    position: absolute;
    right: -8px;
    top: 8px;
  }

  .header-more-menu {
    box-shadow: 0 0 20px rgba(#000, 0.2);
    left: -40px;
  }

  &:hover {
    .header-more-menu {
      opacity: 1;
      top: 45px;
      visibility: visible;
    }
  }
}

.user-avatar {
  img {
    border-radius: 50%;
    height: auto !important;
    width: 40px;
  }
}

.user-avatar-status {
  background-color: $color-green;
  border-radius: 50%;
  content: "";
  display: block;
  height: 7px;
  position: absolute;
  right: 20px;
  top: 0;
  width: 7px;
  z-index: 3;
}

.md-icon {
  -webkit-font-smoothing: antialiased;
  font-family: "Material Icons";
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
}

.page-header {
  h2 {
    color: $color-black;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 30px 0;
  }

  h3 {
    color: $color-black;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 30px 0;
  }
}

.page-title {
  margin-bottom: 60px;
  position: relative;
  text-align: center;

  h2 {
    color: $color-black;
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }

  p {
    color: $color-gray;
    font-size: 16px;
    margin: 0;
  }

  &.background-white {
    margin-bottom: 60px;
    margin-left: -1000px;
    margin-right: -1000px;
    padding-left: 1000px;
    padding-top: 60px;
    padding-right: 1000px;

    &:after {
      background-color: #fff;
      content: "";
      display: block;
      height: 422px;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }
}

.content-title {
  @extend .clearfix;

  background-color: $color-custom-header;
  border-bottom: 1px solid $color-border;
  padding: 10px 0;

  h1 {
    color: $color-black;
    font-size: 24px;
    font-weight: normal;
    float: left;
    margin: 0;
    padding: 0;
  }

  @include media-breakpoint-down(sm) {
    .breadcrumb {
      clear: both;
      float: none;
      padding: 10px 0 0 0;
    }
  }
}

.breadcrumb {
  background-color: transparent;
  border-radius: 0;
  color: $color-black;
  float: right;
  margin: 3px 0 0 0;
  padding: 0;

  a {
    color: $color-gray;
  }

  i {
    color: $color-primary;
    font-size: 18px;
    margin: 0 3px;
    vertical-align: middle;
  }

  li {
    &:before {
      display: none;
    }
  }
}

.return-back {
  color: rgba(#fff, 0.7);
  left: 30px;
  position: absolute;
  top: 30px;
  transition: color 0.15s linear;

  .fa {
    margin: 0 15px 0 0;
  }

  &:hover {
    color: #fff;
  }

  .admin-bar & {
    top: 62px;
  }
}

.table {
  thead {
    th {
      color: $color-black;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.fullwidth-wrapper {
  display: table;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

  > .row {
    display: table-row;

    > div {
      display: table-cell;
      float: none;
      padding: 0;
      vertical-align: top;

      &:last-child {
        padding: 30px;
      }
    }
  }
}

.warning {
  margin: 100px 0;
  text-align: center;

  h1 {
    color: $color-primary;
    font-size: 18em;
    text-shadow: 8px 8px rgba(#000, 0.15);

    @include media-breakpoint-down(sm) {
      font-size: 10em;
    }
  }

  p {
    font-size: 2em;
    margin: 30px 0 0 0;
  }
}

.box-small {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(#000, 0.1);
  margin: 0 0 30px 0;
  padding: 25px;
}

.your-space {
  align-items: center;
  justify-content: center;
  background-color: rgba(#000, 0.02);
  background-image: url("../img/tmp/map.png");
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(#000, 0.1);
  display: flex;
  flex-direction: column;
  height: 742px;
  padding: 25px;

  p {
    color: $color-black;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin: 0 0 40px 0;
    text-align: center;
  }

  .btn {
    margin: 0 0 20px 0;
    padding-bottom: 9px;
    padding-top: 9px;
  }
}
