.comment-create {
  background-color: #fff;
  border: 1px solid $color-border;
  padding: 20px;
}

.comments {
  list-style: none;
  margin: 0;
  padding: 0;

  ul {
    list-style: none;
    margin: 0 0 0 80px;
    padding: 0;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
  }
}

.comment {
  margin: 0 0 15px 0;
  position: relative;
}

.comment-author {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(#000, 0.1);
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 0.15s linear;
  width: 50px;

  a {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 2px;
    border-radius: 50%;
    display: block;
    left: 2px;
    position: absolute;
    right: 2px;
    top: 2px;
  }

  &:hover {
    background-color: $color-primary;
  }
}

.comment-content {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid $color-border;
  margin-left: 80px;
  padding: 20px;
}

.comment-meta {
  @extend .clearfix;
}

.comment-meta-date {
  float: right;
  font-size: 0.9em;

  span {
    background-color: rgba(#000, 0.03);
    border-radius: 3px;
    color: $color-gray;
    padding: 4px 8px;
  }

  @include media-breakpoint-down(sm) {
    float: left;
    margin: 10px 0 0 0;
  }
}

.comment-meta-author {
  float: left;

  a {
    font-weight: 600;

    &:hover {
      text-decoration: none;
    }
  }
}

.comment-meta-reply {
  color: #fff;
  float: right;
  font-size: 0.9em;
  font-weight: 700;
  margin: 0 0 0 15px;

  a {
    background-color: $color-primary;
    border-radius: 3px;
    color: #fff;
    transition: background-color 0.15s linear;
    padding: 4px 8px;

    &:hover {
      background-color: darken($color-primary, 5%);
      text-decoration: none;
    }
  }
}

.comment-body {
  border-top: 1px solid rgba(#000, 0.04);
  color: $color-gray;
  margin: 20px 0 0 0;
  line-height: 24px;
  padding: 20px 0 0 0;
}

.comment-rating {
  color: $color-primary;
  font-size: 1.1em;
  margin: 0 0 10px 0;
}
