.content-boxes {
  background-color: rgba(#000, 0.02);
  margin: (-80px) 0 80px 0;
  padding: 80px 0 60px 0;
}

.content-box {
  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }


  h3 {
    color: $color-black;
    font-size: 20px;
    margin: 0 0 20px 0;
    transition: color 0.15s linear;
  }

  a {
    color: $color-black;
    font-size: 13px;
    opacity: 0.6;
    text-transform: uppercase;
    transition: opacity 0.15s linear;

    span {
      font-weight: 700;
      margin: 0 10px 0 0;
      vertical-align: middle;
    }

    .md-icon {
      color: $color-black;
      vertical-align: middle;
    }
  }

  &:hover {
    h3 {
      color: $color-primary;
    }

    a {
      opacity: 1;
    }
  }
}

.content-box-icon {
  color: $color-primary;
  margin: 0 0 20px 0;

  .md-icon {
    font-size: 50px;
    height: 50px;
    width: 50px;
  }
}
