.counter {
  background-color: $color-black;
  padding: 80px 0;

  h2 {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 27px;
    font-weight: 400;
    height: 100px;
    justify-content: center;
    line-height: 1.5;
    margin: 0;
    text-align: center;
  }

  h3 {
    color: #fff;
    margin: 0;
    text-align: center;
  }

  p {
    color: rgba(#fff, 0.8);
    font-size: 12px;
    margin: 0;
    position: relative;
    text-align: center;
  }

  .md-icon {
    color: $color-primary;
    font-size: 40px;
    height: auto;
    margin: 0 0 10px 0;
    text-align: center;
    width: 100%;
  }
}
