/* Single List */

.custom-form-header {
  border: 1px solid $color-border;
  padding: 5px;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  background-color: $color-custom-header;
  font-size: 15px;
  font-weight: 600;
  color: $color-custom-header-text;
}

.focus-modal {
  position: relative;
}

.popover {
  z-index: 99999;
}

#feedback.trim {
  overflow: hidden;
  height: 140px;
  border-bottom: 1px solid $color-border; 
}

.comment-message {
	img.emojione {
		width: 18px;
	}
}

.vertical-center {
	display: table;
	width: 100%;
	.text-content{
	    display: table-cell;
	    vertical-align: middle;
		width: 100%;
	}
}
li.parent-comment {
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid $color-border;

  .comment {
    margin: 0;
    border-bottom: 1px solid $color-border;
  }

  .comment-content {
    border: none;
  }

  ul {
    margin: 0 0 0 20px;
    padding: 7px 0;

    li.comments-reply {
      background: #fff;
      padding: 0 10px;
      position: relative;

      .comment {
        border: none;
      }

      .comment-content-reply {
        border: none !important;
        padding: 6px;
      }
	  .comment-body {
		a.manage-reply {
			display: none;
			color: inherit;
			font-size: 10px;
			cursor: pointer;
			&:hover{
				color: $color-primary;
			}
		}
		&:hover{
			a.manage-reply {
				display:inline;
			}
		}		
	  }	
      .comment-footer.no-icon {
        position: relative;

        .FB_all_reactions {
          top: -6px;
          position: absolute;
          right: 15px;
          border: 1px solid $color-border;
          border-radius: 12px;
          height: 24px;
          padding: 4px;

          img {
            width: 14px;
            vertical-align: top;
          }

          span {
            font-size: 12px;
            position: relative;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  li.parent-comment {
    .comment {
      background: #fff;
      border: 1px solid $color-border;

      .comment-content {
        border: none;
      }
    }
  }
}

.leaflet-popup-content-wrapper {
  padding: 0 !important;

  .leaflet-popup-content {
    min-width: 200px !important;
    margin: 0;
  }
}

.comment-box {
	textarea {
		display: none;
	}	
  .emojionearea {
    width: 100%;
    min-height: 40px;
    border-radius: 20px;
    padding: 0px;
	.emojionearea-editor {
		min-height: 40px;
		min-height: 40px;
		border-radius: 20px;
		padding: 10px;		
	}
  }
}

.comment-meta-date, .comment-body {
	position: relative;
	i {
		cursor: pointer;
	}
	&:hover{
		color: #000;
	}
	.dropdown-menu {
		box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
		top: 16px;
		right: 0;
		left: auto;
		a:hover{
			background: $color-primary;
			color: #fff;
		}
	}
	.show {
		display: block;
	}
}

.widget {
	li.nav-item {
		height: 30px;
		border: 1px solid transparent;
		.nav-link {
			color: #000;
			padding: 0;
			i {
				top: 4px;
				position: relative;
				background-image: url("../img/tmp/sprite.png");
				background-image: url(/images/sprite.png?3119fa0…);
				background-size: auto;
				background-repeat: no-repeat;
				display: inline-block;
				height: 20px;
				width: 20px;			
			}
			i.home {
				background-position: -21px -324px;
			}
			i.list {
				background-position: -42px -429px;
			}
			i.recommend {
				background-position: 0px -239px;
			}	
			i.exclamation {
				background-position: 0px -220px;
			}		
			i.history {
				background-position: -21px -345px;
			}	
			i.plus {
				background-position: 0px -90px;
			}	
			i.edit-realtime {
				background-position: -43px -239px;
			}				
			i.single {
				background-position: 0px -345px;
			}
			i.market {
				background-position: 0px -324px;
			}
			i.question {
				background-position: 0px -534px;
			}			
			i.user-tag {
				background-position: -42px -261px;
			}				
			span {
				position: relative;
				display: inline-block;
				top: -1px;
				margin-left: 8px;
			}
		}
		&:hover {
			border: 1px solid $color-border;
			background: lighten( $color-background, 70% );
		}		
	}
	li.nav-item-hovered {	
		border: 1px solid $color-border;
		background: lighten( $color-background, 70% );	
	}
}
.emojionearea-picker {
    box-shadow: 0 1px 5px rgba($color-black, 0.62) !important;
	border-radius: 3px !important;
	.emojionearea-filters {
		background: $color-background !important;
		.emojionearea-filter {
			line-height: 0;
		}
	}	
}	

.profile {
	.faq-item {
		fieldset {
			background: none;
			padding: 15px;
			margin: 0;
		}	
		&:before {
			content: '\f044'; 
			font-family: FontAwesome;
			background-color: $color-primary;
		}		
	}
	.profile-img-wrapper {
		overflow: hidden;
		width: 160px;
		height: 160px;
		border: 1px solid lighten( $color-black, 80% );	
		border-radius: 100%;
		.profile-img {
			width: 100%;
			height: 100%;
			background-size: cover !important;		
			border: 4px solid #fff;
			border-radius: 100%;	
			position: relative;
			.filer {
				display:none
			}
			&:hover {
				#profilepic-select {
					transition: 0.25s;
					transition-timing-function: ease-out;
					transform: translateY(0);
					opacity: 1;
					background: transparentize($color-black,.80);
					transition: background-color 500ms linear;
				}
			}
			#profilepic-select {
				cursor: pointer;
				display:block;
				background: transparentize($color-black,.14);
				position: absolute;
				text-align: center;
				width: 150px;
				height: 75px;
				border-bottom-left-radius: 110px;
				border-bottom-right-radius: 110px;
				border-top: 0;	
				bottom: 0;
				left: 0;
				transform: translateY(130%);
				transition-timing-function: ease-in;
				transition: 0.2s;	
				&:hover {
					background: transparentize($color-black,.14);
					transition: background-color 500ms linear;
				}
			}			
		}
	}
}

.extra-controls {
	.icon-hover {
		transform: scale(1.2) !important;
		color: $color-yellow !important;
	}
}

.manage-ad-single {
	h4 {
		ul {
			position: absolute;
			right: 10px;
			top: 10px;
			list-style: none;
			clear: both;	
			li {
				float: left;
				margin-right: 6px;
				.btn {
					border-radius: 30px;
				}
			}	
		}
	}
}

.profile-container-main {
	.align-right {
		position: absolute;
		right: 10px;	
	}
}

.manage-ad-single {
	fieldset {
		background: none;
		padding: 0;
		margin: 0;
	}
}

.sections-container {
	.subposts {
		height: 200px;
		border: 1px solid $color-border;
		text-align: center;
		display: table;
		width: 100%;
		cursor: pointer;
		.title {
			color: #fff;
			display: table-cell;
			vertical-align: middle;		
		}
	}
}

.card-category {
  border-radius: 100px;		
  background: $color-border;	
  .card-content {
		height: 64px;
		overflow: hidden;
		i {
			position: relative;
			top: 3px;
		}
  }
}

.dropzone {
	border: 4px dotted $color-primary !important;
    padding: 10px !important;
}

.subpost {
	.empty-post {
		min-height: 200px;
	}
}