.hero {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 20px rgba(#000, 0.4);
  height: 700px;
  margin: 0 0 60px 0;
  position: relative;
}

.hero-content {
  left: 0;
  margin: (-70px) 0 0 0;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
  z-index: 2;

  @include media-breakpoint-down(sm) {
    margin: 0;
    top: 30px;
    transform: none;
  }


  h1 {
    color: #fff;
    font-size: 50px;
    margin: 0 0 0 20px;
    opacity: 0;
    padding: 0;
    transition: all 0.5s ease;
    transform: translate3d(0, 0, 1px);

    .hero-animate & {
      margin-left: 0;
      opacity: 1;
    }

    @include media-breakpoint-down(sm) {
      font-size: 30px;
    }
  }

  p {
    color: rgba(#fff, 0.9);
    display: block;
    font-size: 22px;
    font-weight: 300;
    line-height: 34px;
    margin: 30px 0 0 20px;
    opacity: 0;
    transition: all 0.5s ease 0.2s;
    transform: translate3d(0, 0, 1px);
    width: 60%;

    .hero-animate & {
      margin-left: 0;
      opacity: 1;
    }

    @include media-breakpoint-down(sm) {
      font-size: 16px;
      line-height: 26px;
      width: 100%;
    }
  }

  .btn {
    height: 50px;
    line-height: 38px;
    margin: 30px 0 0 0;
    padding-left: 36px;
    padding-right: 36px;
  }
}

.hero-layer {
  background-color: rgba(#2a2a2a, 0.5);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &.dark {
    background-color: rgba(#2a2a2a, 0.8);
  }
}

.hero-form {
  background-color: rgba(#fff, 0.25);
  bottom: 0;
  left: 0;
  padding: 24px 0;
  position: absolute;
  right: 0;
  z-index: 1000;

  &.dark {
    background-color: rgba(#000, 0.25);
  }

  form {
    @extend .clearfix;
  }

  .first {
    .input-group-addon {
      border-radius: 3px 0 0 3px;
    }

    &:after {
      background-color: rgba(#000, 0.2);
      bottom: 0;
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      z-index: 20;
    }
  }

  .last {
    .btn {
      border-radius: 0 3px 3px 0;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 0 !important;
    }
  }

  .form-group, .input-group {
    margin: 0;
    padding: 0;
    position: relative;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  .input-group-addon {
    background-color: #fff;
    border: 0;
    border-radius: 0;

    .md-icon {
      font-size: 22px;
      height: 22px;
      margin: 3px 0 0 0;
      width: 22px;
    }
  }

  .form-control {
    background-color: #fff;
    box-shadow: none;

    @include media-breakpoint-down(sm) {
      border-top-right-radius: 3px !important;
      border-bottom-right-radius: 3px !important;
    }
  }

  .form-control, .btn {
    border: 0;
    border-radius: 0;
    height: 50px;
  }

  .btn {
    height: 50px;

    @include media-breakpoint-down(sm) {
      border-radius: 3px !important;
    }
  }
}

.hero-form-sub {
  color: #fff;
  font-size: 12px;
  margin: 24px 0 0 0;

  strong {
    margin: 0 20px 0 0;
  }

  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 5px 10px 5px 0;

    a {
      background-color: $color-secondary;
      border-radius: 3px;
      color: #fff;
      padding: 3px 12px;
    }
  }
}

.hero-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  .cover-center & {
    &:after {
      background-color: rgba(#000, 0.4);
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &:after {
    background-color: rgba(#000, 0.3);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.hero-carousel {
  .owl-prev, .owl-next {
    color: #fff;
    font-size: 40px;
    position: absolute;
    text-shadow: 0 1px 2px rgba(#000, 0.2);
    top: calc(50% - 75px);
    transform: translateY(-50%);

    img {
      height: 60px;
      opacity: 0.6;
      transition: opacity 0.15s linear;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }

  .owl-prev {
    left: 40px;
  }

  .owl-next {
    right: 40px;
  }

  .btn {
    font-size: 1.2em;
    padding: 12px 25px;
  }
}

.hero-carousel-item {
  height: 700px;
}

.hero-carousel-title {
  position: relative;
  text-align: center;
  top: calc(50% - 75px);
  transform: translateY(-50%);
  z-index: 9999;

  h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    margin: 0;
    text-shadow: 0 1px 2px rgba(#000, 0.2);
  }

  h2 {
    color: rgba(#fff, 0.9);
    font-size: 22px;
    font-weight: 400;
    margin: 15px 0 0 0;
    text-shadow: 0 1px 2px rgba(#000, 0.2);
  }

  .btn {
    font-size: 14px;
    margin: 30px 0 0 0;
    padding: 13px 30px;
  }
}
