#map-leaflet {
  height: 600px;

  .map-pull-top & {
    margin-top: -180px;
  }
}

.leaflet-div-icon {
  background-color: $color-primary !important;
  border: 4px solid $color-primary !important;
  border-radius: 50% !important;
  position: relative !important;
  z-index: 10 !important;
  text-align: center !important;
  font-size: 1.2rem !important;
  color: #fff;

  &:after {
    border: 4px solid transparent;
    border-width: 7px 12px;
    border-top-color: $color-primary;
    bottom: -14px;
    height: 0;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 0;
    z-index: 9;
  }

  .fa {
    color: rgba(#000, 0.55);
    font-size: 14px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
