.partners {
  border-top: 1px solid rgba(#000, 0.08);
  padding: 60px 0;
  white-space: nowrap;

  img {
    box-sizing: content-box;
    display: inline-block;
    max-width: 80% !important;
    opacity: 0.4;
    transition: all 0.15s linear;
    vertical-align: middle;
    -webkit-filter: grayscale(1);
  }

  a {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 20%;

    &:hover {
      img {
        opacity: 0.6;
      }
    }

    @include media-breakpoint-down(sm) {
      display: block;
      margin: 40px 0;
      width: 100%;
    }
  }
}
