.review {
  border-bottom: 1px solid rgba(#000, 0.04);
  margin: 0 0 15px 0;
  padding: 0 0 10px 0;

  h3 {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 3px 0;
    padding: 0;
    white-space: nowrap;

    a {
      color: $color-secondary;
    }
  }

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.review-rating {
  color: $color-yellow;

  .md-icon {
    font-size: 16px;
    height: auto;
    margin: 0 3px 0 0;
    width: auto;
  }
}

.review-content {
  display: table-cell;
}

.review-user {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  display: block;
  float: left;
  height: 32px;
  margin: 0 10px 0 0;
  width: 32px;
}
