$color-brand: #20c3ef;
$color-primary: #4267b2;
$color-white: #fff;

// $color-primary: #297CBB;

$color-secondary: #2E2E2E;

$color-gray: #9E9E9E;
$color-gray-light: #eee;
$color-gray-medium: #f3f3f3;

$color-black: #000;
$color-black-medium: #212121;

$color-red: #E53935;
$color-blue: #1E88E5;
$color-yellow: #FBC02D;
$color-green: #43A047;

$color-background: #e9ebee;
$color-text: #616161;
$color-border: #dddfe2;
$color-custom-header: #f5f6f7;
$color-custom-header-text: #4b4f56;

// Customizer
$color-customizer-red: #E53935;
$color-customizer-pink: #D81B60;
$color-customizer-purple: #8E24AA;
$color-customizer-deep-purple: #5E35B1;
$color-customizer-indigo: #3949AB;
$color-customizer-blue: #1E88E5;
$color-customizer-light-blue: #039BE5;
$color-customizer-cyan: #00ACC1;
$color-customizer-teal: #00897B;
$color-customizer-green: #43A047;
$color-customizer-light-green: #7CB342;
$color-customizer-lime: #C0CA33;
$color-customizer-yellow: #FDD835;
$color-customizer-amber: #FFB300;
$color-customizer-orange: #FB8C00;
$color-customizer-deep-orange: #F4511E;
$color-customizer-brown: #6D4C41;
$color-customizer-blue-grey: #546E7A;

// Brand colors
$color-facebook: #365397;
$color-twitter: #00a9f1;
$color-google-plus: #e0452c;
$color-youtube: #ff3333;
$color-vimeo: #48b6ed;
$color-pinterest: #ce1a19;
$color-dribbble: #ed4584;
$color-skype: #00acf4;
$color-instagram: #396d9a;
$color-tumblr: #304c68;
$color-linkedin: #287bbc;
$color-tripadvisor: #589442;
$color-whatsapp: #27d246;
$color-messenger: #0384ff;

$contextualColors: (
  white:    $color-white,
  brand:    $color-brand,
  primary:    $color-primary,
  secondary:    $color-secondary,
  black:    $color-black,
  red:    $color-red,
  yellow:    $color-yellow,
  green:    $color-green,
  text:    $color-text,
  border:    $color-border,
  customizer-red:    $color-customizer-red,
  customizer-pink:    $color-customizer-pink,
  customizer-purple:    $color-customizer-purple,
  customizer-deep-purple:    $color-customizer-deep-purple,
  customizer-indigo:    $color-customizer-indigo,
  customizer-blue:    $color-customizer-blue,
  customizer-light-blue:    $color-customizer-light-blue,
  customizer-cyan:    $color-customizer-cyan,
  customizer-teal:    $color-customizer-teal,
  customizer-green:    $color-customizer-green,
  customizer-light-green:    $color-customizer-light-green,
  customizer-lime:    $color-customizer-lime,
  customizer-yellow:    $color-customizer-yellow,
  customizer-amber:    $color-customizer-amber,
  customizer-orange:    $color-customizer-orange,
  customizer-deep-orange:    $color-customizer-deep-orange,
  customizer-brown:    $color-customizer-brown,
  customizer-blue-grey:    $color-customizer-blue-grey,
  facebook:    $color-facebook,
  twitter:    $color-twitter,
  google-plus:    $color-google-plus,
  youtube:    $color-youtube,
  vimeo:    $color-vimeo,
  pinterest:    $color-pinterest,
  dribbble:    $color-dribbble,
  skype:    $color-skype,
  instagram:    $color-instagram,
  tumblr:    $color-tumblr,
  linkedin:    $color-linkedin,
  tripadvisor:    $color-tripadvisor,
  whatsapp:    $color-whatsapp,
  messenger:    $color-messenger
);

//= font-weight
$weight-thin: 100;
$weight-extra-light: 200;
$weight-light: 300;
$weight-normal: 400;
$weight-regular: $weight-normal;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;
$weight-black: 900;
$weight-heavy: $weight-black;

//= Paddings
$padding-xs: 6px;
$padding-sm: 12px;
$padding-md: 16px;
$padding-lg: 24px;
$padding-xl: 32px;

//= margins
$margin-xs: 6px;
$margin-sm: 12px;
$margin-md: 16px;
$margin-lg: 24px;
$margin-xl: 32px;

//= Font sizes
$font-size-xs: 0.5rem;
$font-size-sm: 0.75rem;
$font-size-md: 1rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;
